@mixin font($fname, $fstyle, $fweight, $furl) {
  @font-face {
    font-family: $fname;
    font-style: $fstyle;
    font-weight: $fweight;
    src: url($furl) format('woff2');
  }
}

@include font('Source Sans Pro', normal, 400, '../../public/admin/fonts/sourcesanspro.woff2');
@include font('Source Sans Pro Bold', normal, 400, '../../public/admin/fonts/sourcesansprobold.woff2');
@include font('Source Sans Pro Light', normal, 400, '../../public/admin/fonts/sourcesansprolight.woff2');

.hidden {
  display: none;
}

.logout-btn {
  border: none;
  padding: 0;
  background-color: #343a40;
  color: #fff;
}

.logo .logo-img {
  margin-top: -1px;
  opacity: .8;
}
.logo .brand-name {
  font-size: 18px;
}
.header .nav-item .image {
  margin-right: 10px;
}
.header .nav-item .image img {
  vertical-align: top;
}
.header .nav-item .user-name {
  line-height: 1.2;
}

.sidebar .nav-sidebar {
  margin: 0 0 25px 0;
}
.sidebar .nav-treeview {
  font-size: 14px;
}
.sidebar .nav-sidebar > .nav-item .nav-icon.far {
  font-size: 0.8rem;
}

.content-wrapper {
  padding: 0 0 2rem 0;
}
.content-wrapper .dashboard-content {
  padding: 15px;
}
.content-wrapper .content {
  padding: 15px .5rem;
}
.content-wrapper .content .category-list {
  margin: 0 0 50px 0;
  padding: 0;
}
.main-sidebar .sidebar {
  padding: 30px 0;
}
.nav-sidebar .nav-item {
  margin: 5px 0;
}
.os-content {
  height: auto !important;
}
.list-archive .list-btn {
  margin: 0 0 0 10px;
}
.list-archive .delete-btn {
  color: red;
}
.image-preview img {
  width: 100px;
  height: 150px;
  object-fit: cover;
}
.gallery-delete {
  width: 120px;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}

.footer {
  border-top: 1px solid #dee2e6;
  color: #869099;
  padding: .5rem 1rem;
  font-size: .8rem;
}

/* form-control datepicker */
.form-control:disabled,
.datepicker-here.form-control[readonly],
.datepicker-year.form-control[readonly],
.date-and-timepicker.form-control[readonly] {
  background-color: #fff;
}
.datepicker-year,
.input-price {
  width: 200px;
}
.w200 {
  width: 200px;
}

/* newspapers-archive */
.newspapers-archive .image {
  width: 80px;
}
.newspapers-archive .image img {
  width: 100%;
}
.newspapers-archive .delete-newspapers {
  display: block;
  width: 16px;
  height: 24px;
}

/* Таблица */
.table .number-column {
  /* width: 20px; */
  width: 45px;
}
.table .button-column {
  width: 160px;
}
.table .button-group {
  font-size: 0;
}
.table .button-group .btn {
  margin: 0 0 0 4px;
}
.table .name-column {
  width: 45%;
}
.table .table-button .form {
  display: contents;
}

/* категории */
/*
.category-list .edit-btn {
  width: 20px;
  height: 20px;
  margin: 0 0 0 10px;
}
.category-list .edit-btn img {
  width: 100%;
}
.category-list .edit-btn__add a {
  color: green;
}
.category-list .edit-btn__remove a {
  color: red;
}
*/

/* товары */
.inputfile {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-inputfile-label {
  height: 38px;
  margin: 0 10px 0 0;
  padding: 7px 15px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  color: #212529;
  background-color: #e9ecef;
}
.custom-inputfile-label:hover {
  background-color: #dde0e3;
}
.namefile {
  margin-left: 10px;
}
.inputtext {
  height: 300px;
}
.input-number {
  -moz-appearance: textfield;
}
.input-number::-webkit-inner-spin-button,
.input-number::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.sort-input {
  width: 100px;
}
.buttons-wrapper {
  display: flex;
  justify-content: space-between;
}

/* Добавить категорию */
/*
.add-new-cat .inputfile {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.add-new-cat .custom-inputfile-label {
  height: 38px;
  padding: 7px 15px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  color: #212529;
  background-color: #e9ecef;
}
.add-new-cat .custom-inputfile-label:hover {
  background-color: #dde0e3;
}
.add-new-cat .namefile {
  margin-left: 10px;
}
.add-new-cat .inputtext {
  height: 300px;
}
*/

/* Отзывы */
.reviews-wrapper .item {
  margin-bottom: 16px;
  padding: .375rem .75rem;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}
.reviews-wrapper .item-text {
  padding: 0 0 1rem 0;
}
.reviews-wrapper .buttons-wrapper {
  display: flex;
  justify-content: space-between;
}