@import '_config.scss';

html {
  scroll-behavior: smooth;
  font-size: 16px;
}
body {
  position: relative;
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
  background-color: #E8E2D4;
  font-family: "pt-sans-regular", sans-serif;
  color: #000;
}
input:active, input:focus {
  outline: none;
}
input::-moz-focus-inner {
  border: 0;
}
a, a:focus, a:active {
  outline: none;
}
a, a:hover {
  text-decoration: none;
}
button, button:focus, button:active {
  outline: none;
}
img {
  border-style: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.clear-both {
  clear: both;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-center {
  text-align: center;
}
.hidden {
  display: none;
}
.overflow-hidden {
  overflow: hidden;
}
.hidden-desktop {
  display: none;
}
.pos-rel {
  position: relative;
}
.text-bold {
  font-weight: bold;
}
.page {
  padding: 0 0 50px 0;
}
.page .page-title-wrapper {
  position: relative;
}
.page .page-title-wrapper .history-back {
  position: absolute;
  top: 62px;
  cursor: pointer;
}
.page .page-title {
  padding: 50px 0 37px 0;
  font-family: 'pt-sans-bold';
  font-size: 32px;
  color: #5C0605;
  text-align: center;
  text-transform: uppercase;
}
.page .history-back {
  position: absolute;
}
.page .text::after {
  clear: both;
}
.text p {
  overflow-wrap: break-word;
}
.text p img {
  max-width: 100%;
  height: auto;
}
.text p a {
  color: #000;
  text-decoration: underline;
}
.text div a {
  color: #000;
  text-decoration: underline;
}

.text h1 a,
.text h2 a,
.text h3 a,
.text h4 a,
.text h5 a,
.text h6 a {
  color: #000;
  text-decoration: underline;
}

/* header */
.header .top {
  height: 317px;
  background: url(/resources/img/header-bg.jpg) center no-repeat;
  background-size: cover;
  
}
.header .top .logo-wrapper {
  display: flex;
  padding: 58px 0 0 0;
  align-items: center;
}
.header .top .logo {
  width: 190px;
  margin: 0 44px 0 0;
}
.header .top .logo img {
  width: 100%;
}
.header .top .subtitle {
  font-family: 'pt-sans-bold';
  color: #5C0605;
  text-transform: uppercase;
  text-shadow: 0 -1px 0 #fff,0 -1px 0 #fff,0 1px 0 #fff,0 1px 0 #fff,-1px 0 0 #fff,1px 0 0 #fff,-1px 0 0 #fff,1px 0 0 #fff,-1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff,-1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff;
}
.header .top .title {
  font-family: 'pt-serif-bold-italic';
  font-size: 48px;
  line-height: 51px;
  color: #5C0605;
  text-shadow: 0 -1px 0 #fff,0 -1px 0 #fff,0 1px 0 #fff,0 1px 0 #fff,-1px 0 0 #fff,1px 0 0 #fff,-1px 0 0 #fff,1px 0 0 #fff,-1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff,-1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff;
}
.header .top .bvi-text {
  padding: 0 0 25px 0;
  font-family: 'pt-sans-bold';
  font-size: 18px;
  color: #000;
  text-align: center;
}
.header .top-nav-menu {
  position: relative;
  background-color: #5C0605;
  z-index: 10;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header .top-nav-menu .top-menu {
  display: flex;
  justify-content: space-between;
}
.header .top-nav-menu .menu-item {
  display: inline-block;
  padding: 10px 8px;
  cursor: pointer;
  transition: all .5s;
}
.header .top-nav-menu .menu-item__text {
  font-family: 'pt-sans-bold';
  font-size: 20px;
  line-height: 1.4;
  color: #F0DFCB;
  text-transform: uppercase;
}
.header .top-nav-menu .menu-item:hover {
  background-color: #F0DFCB;
  color: #5C0605;
}
.header .top-nav-menu .menu-item:hover .menu-item__text {
  color: #5C0605;
}
.header .top-nav-menu .menu-item-has-children {
  position: relative;
}
.header .top-nav-menu .menu-item-has-children:hover .sub-menu {
  visibility: visible;
  opacity: 1;
  transform: translate(0, 3px);
}
.header .top-nav-menu .menu-item .sub-menu {
  position: absolute;
  top: 45px;
  left: 0px;
  width: 265px;
  padding: 0;
  visibility: hidden;
  opacity: 0;
  background-color: #E2D8CC;
  text-align: center;
  box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.3s, transform 0.3s;
  transform: translate(0, 10%);
}
.header .top-nav-menu .sub-menu-item a {
  display: block;
  padding: 7px;
  color: #000;
}
.header .top-nav-menu .sub-menu-item a:hover {
  background-color: #C65252;
  color: #fff;
}

/* required-links */
.required-links {
  background: url(/resources/img/main-section-bg.jpg) center no-repeat;
  background-size: cover;
  /* padding: 15px 0 50px 0; */
  padding: 15px 0 15px 0;
}
.required-links .links {
  display: flex;
  justify-content: space-between;
}
.required-links a {
  font-family: 'pt-sans-bold';
  font-size: 22px;
  color: #5C0605;
  text-transform: uppercase;
  text-shadow: #aaa 2px 2px 2px;
}
.required-links .glasses {
  position: relative;
  cursor: pointer;
}
.required-links .glasses__text {
  position: absolute;
  left: -35px;
  top: 35px;
  display: none;
  padding: 10px;
  background-color: #E8E2D4;
  font-family: "pt-sans-bold";
  color: #5C0605;
  text-align: center;
}
.required-links .glasses:hover .glasses__text {
  display: block;
}

/* home-page main-section */
.home-page .main-section {
  position: relative;
  background: url(/resources/img/main-section-bg.jpg) center no-repeat;
  background-size: cover;
  padding: 20px 0 130px 0;
}
.home-page .main-section .section-title-wrapper {
  margin: 0 0 5px 0;
}
.home-page .main-section .section-title {
  margin: 0 15px 0 0;
  font-family: 'pt-sans-bold';
  font-size: 36px;
  color: #5C0605;
  text-transform: uppercase;
}
.home-page .main-section .news-archive-btn {
  font-family: 'pt-sans-bold';
  font-size: 20px;
  color: #5C0605;
  text-transform: uppercase;
}
.home-page .main-section .main-slider-wrapper {
  position: relative;
}
.home-page .main-section .main-slider .image-slider__slide {
  position: relative;
  height: 600px;
}
.home-page .main-section .main-slider .image-slider__image {
  height: 100%;
}
.home-page .main-section .main-slider .image-slider__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-page .main-section .main-slider .image-slider__bg {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 150px;
  width: 100%;
  padding: 30px 19px;
  background-color: rgba(92, 6, 5, 0.44);
}
.home-page .main-section .main-slider .image-slider__title {
  font-family: 'pt-sans-bold';
  font-size: 20px;
  color: #E8E2D4;
  text-transform: uppercase;
}
.home-page .main-section .main-slider .image-slider__excerpt {
  font-size: 20px;
  color: #fff;
}
.home-page .main-section .swiper-button-prev,
.home-page .main-section .swiper-button-next {
  color: #fff;
}
.home-page .main-section .swiper-button-next::after,
.home-page .main-section .swiper-button-prev::after {
  font-size: 30px;
}
.home-page .main-section .swiper-pagination {
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 10px 0 0 0;
}
.home-page .main-section .swiper-pagination-bullet {
  width: 18px;
  height: 18px;
  margin: 0 7px;
  background: #E8E2D4;
  border: 2px solid #5C0605;
  border-radius: 0;
  opacity: 1;
}
.home-page .main-section .swiper-pagination-bullet-active {
  background: #5C0605;
}
.home-page .main-section .aside {
  padding: 0 5px 26px 21px;
  background-color: #E8E2D4;
}
.home-page .main-section .aside .aside-title {
  padding: 10px 0;
  font-size: 24px;
  color: #5C0605;
  text-align: center;
  text-transform: uppercase;
}
.home-page .main-section .aside .contacts {
  margin: 0 0 10px 0;
}
.home-page .main-section .aside .item {
  display: flex;
  margin: 0 0 8px 0;
  align-items: center;
}
.home-page .main-section .aside .item .text {
  font-size: 15px;
  line-height: 1.3;
}
.home-page .main-section .aside .item .address {
  font-size: 18px;
}
.home-page .main-section .aside .director {
  margin: 0 0 10px 0;
}
.home-page .main-section .aside .item .director-name {
  position: relative;
  padding: 0 0 0 54px;
}
.home-page .main-section .aside .item .icon {
  width: 35px;
  height: 35px;
  margin: 0 20px 0 0;
}
.home-page .main-section .aside .item .icon img {
  width: 35px;
  height: 35px;
}
.home-page .main-section .aside .phones {
  margin: 0 0 10px 0;
}
.home-page .main-section .aside .email {
  margin: 0 0 14px 0;
}
.home-page .main-section .aside .social {
  display: flex;
  padding: 0 0 0 54px;
  align-items: center;
}
.home-page .main-section .aside .social .qr-code {
  margin: 0 10px 0 0;
}
.home-page .main-section .aside .social .qr-code img {
  width: 77px;
  height: 77px;
}
.home-page .main-section .aside .social .social-icon .img {
  border-radius: 6px;
  overflow: hidden;
}
.home-page .main-section .aside .social .social-icon .img a {
  display: block;
  width: 23px;
  height: 23px;
}
.home-page .main-section .aside .social .social-icon .img a img {
  display: block;
  width: 100%;
}
.home-page .main-section .aside .social .social-icon .vk {
  margin: 0 0 13px 0;
}
.home-page .main-section .aside .social .social-wrapper {
  display: flex;
  margin: 0 0 0 55px;
}

/* home-page afisha-section */
.home-page .afisha-section {
  padding: 50px 0 105px 0;
}
.home-page .afisha-section .afisha-archive-btn {
  position: absolute;
  top: -90px;
  left: 350px;
  font-family: 'pt-sans-bold';
  font-size: 20px;
  color: #5C0605;
  text-transform: uppercase;
}

/* home page ai-section заголовок для секций Афиша и Информация */
.home-page .ai-section .section-title-wrapper {
  position: relative;
}
.home-page .ai-section .section-title {
  position: absolute;
  top: -105px;
  left: 0;
  width: max-content;
  height: 55px;
  padding: 3px 13px;
  background-color: #E8E2D4;
  border-radius: 20px 20px 0 0;
  font-family: 'pt-sans-bold';
  font-size: 36px;
  color: #5C0605;
  text-transform: uppercase;
}

/* home page info section */
.info-section {
  height: 500px;
  padding: 50px 0 0 0;
}
.info-section .text {
  height: 450px;
}
.info-section .text p,
.info-section .text div {
  height: 100%;
}
.info-section .text p img,
.info-section .text div img {
  max-height: 100% !important;
  width: auto;
}

/* home-page kalendar-studenta-section */
.home-page .kalendar-studenta-section {
  padding: 50px 0 70px 0;
  background: url(/resources/img/kalendar-studenta-bg.jpg) center no-repeat;
  background-size: cover;
}
.home-page .kalendar-studenta-section .section-title-wrapper {
  position: relative;
}
.home-page .kalendar-studenta-section .section-title {
  position: absolute;
  top: -115px;
  left: 0;
  width: 400px;
  height: 65px;
  background-color: #DFD2C1;
  border-radius: 20px 20px 0 0;
  font-family: 'pt-sans-bold';
  font-size: 36px;
  color: #5C0605;
  padding: 8px 13px;
  text-transform: uppercase;
}
.home-page .kalendar-studenta-section .afisha-archive-btn {
  position: absolute;
  top: -90px;
  left: 450px;
  font-family: 'pt-sans-bold';
  font-size: 20px;
  color: #5C0605;
  text-transform: uppercase;
}
.home-page .kalendar-studenta-section  .item .image {
  padding: 0 0 130% 0;
}

/* home-page partners-section */
.home-page .partners-section {
  padding: 53px 0 50px 0;
}
.home-page .partners-section .section-title {
  margin: 0 0 50px 0;
  font-family: 'pt-sans-bold';
  font-size: 36px;
  color: #5C0605;
  text-transform: uppercase;
}
.home-page .partners-section .partners .partners-logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.home-page .partners-section .partners .item {
  width: 130px;
  margin: 0 10px 10px 0;
}
.home-page .partners-section .partners .item img {
  width: 100%;
}
.home-page .partners-section .partners .documents span {
  margin: 0 20px 0 0;
}
.home-page .four-items .item {
  position: relative;
  margin: 0 0 30px 0;
  padding: 10px;
  background-color: #E8E2D4;
  border: 2px solid #5C0605;
  border-radius: 10px;
  transition: box-shadow .3s;
}
.home-page .four-items .item:hover {
  box-shadow: 0px 4px 10px rgba(50, 119, 186, 0.59);
}
.home-page .four-items .item .image {
  position: relative;
  margin: 0 0 16px 0;
  padding: 0 0 100% 0;
}
.home-page .four-items .item .image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.home-page .four-items .item .horizontal-line {
  width: 100%;
  height: 2px;
  margin: 0 0 6px 0;
  background-color: #5C0605;
}
.home-page .four-items .item .date {
  margin: 0 0 3px 0;
  font-size: 19px;
  color: #5C0605;
}
.home-page .four-items .item .title {
  min-height: 69px;
  margin: 0 0 14px 0;
  font-family: 'pt-sans-bold';
  font-size: 19px;
  line-height: 1.2;
}
.home-page .item .arrow {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
}
.home-page .item .circle {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.home-page .item .corner::before,
.home-page .item .corner::after {
  content: '';
  position: absolute;
  left: 10px;
  width: 8px;
  height: 2px;
}
.home-page .item .corner::before {
  top: 10px;
  transform: rotate(45deg);
}
.home-page .item .corner::after {
  top: 15px;
  transform: rotate(-45deg);
}
.home-page .item .circle {
  border: 2px solid #5C0605;
  background-color: #E8E2D4;
  transition: all .3s;
}
.home-page .item:hover .circle {
  background-color: #5C0605;
  border: 2px solid #E8E2D4;
}
.home-page .item .corner::before,
.home-page .item .corner::after {
  background-color: #5C0605;
  transition: all .3s;
}
.home-page .item:hover .corner::before,
.home-page .item:hover .corner::after {
  background-color: #E8E2D4;
}

/* footer */
.footer {
  padding: 56px 0 20px 0;
  background: url(/resources/img/kalendar-studenta-bg.jpg) center no-repeat;
  background-size: cover;
}
.footer .top {
  margin: 0 0 16px 0;
}
.footer .bottom-menu .menu-item {
  margin: 0 0 10px 0;
}
.footer .bottom-menu .menu-item__text {
  display: block;
  margin: 0 0 10px 0;
  font-family: 'pt-sans-bold';
}
.footer .bottom-menu .sub-menu-item {
  margin: 0 0 8px 0;
  line-height: 1.3;
}
.footer .bottom-menu .sub-menu-item a {
  color: #000;
}
.footer .top .item {
  display: flex;
  margin: 0 0 15px 0;
  align-items: center;
}
.footer .top .item-link {
  color: #000;
}
.footer .top .item .icon {
  width: 35px;
  height: 35px;
  margin: 0 20px 0 0;
}
.footer .top .item .icon img {
  width: 35px;
  height: 35px;
}
.footer .top .qr-code img {
  max-width: 100%;
}
.footer .bottom {
  padding: 10px 0;
  color: #000;
  text-align: center;
}
.footer .bottom a {
  color: #000;
}

/* Архив */
.archive-page .years {
  display: flex;
  flex-wrap: wrap;
}
.archive-page .years .item {
  width: 100px;
  margin: 0 0 25px 0;
  font-size: 24px;
  text-align: center;
}
.archive-page .years .item a {
  color: #000;
}
.archive-page .horizontal-line {
  width: 100%;
  height: 1px;
  margin: 0 0 25px 0;
  background-color: #5C0605;
}
.archive-page .archive-wrapper .item {
  position: relative;
  margin: 0 0 30px 0;
  padding: 10px;
  background-color: #E8E2D4;
  border: 2px solid #5C0605;
  border-radius: 10px;
  transition: box-shadow .3s;
}
.archive-page .archive-wrapper .item:hover {
  box-shadow: 0px 4px 10px rgba(50, 119, 186, 0.59);
}
.archive-page .archive-wrapper .item .image {
  position: relative;
  margin: 0 0 16px 0;
  padding: 0 0 100% 0;
}
.archive-page .archive-wrapper .item .image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.archive-page .archive-wrapper .item .horizontal-line {
  width: 100%;
  height: 2px;
  margin: 0 0 6px 0;
  background-color: #5C0605;
}
.archive-page .archive-wrapper .item .date {
  margin: 0 0 3px 0;
  font-size: 12px;
  color: #5C0605;
}
.archive-page .archive-wrapper .item .title {
  min-height: 44px;
  margin: 0 0 14px 0;
  font-family: 'pt-sans-bold';
  font-size: 12px;
  line-height: 1.2;
}
.archive-page .archive-wrapper .item .arrow {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
}
.archive-page .archive-wrapper .item .circle {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #5C0605;
  background-color: #E8E2D4;
  transition: all .3s;
}
.archive-page .archive-wrapper .item .corner::before,
.archive-page .archive-wrapper .item .corner::after {
  content: '';
  position: absolute;
  left: 7px;
  width: 6px;
  height: 1px;
}
.archive-page .archive-wrapper .item .corner::before {
  top: 6px;
  transform: rotate(45deg);
}
.archive-page .archive-wrapper .item .corner::after {
  top: 11px;
  transform: rotate(-45deg);
}
.archive-page .archives-wrapper .item .circle {
  border: 1px solid #5C0605;
  background-color: #E8E2D4;
  transition: all .3s;
}
.archive-page .archive-wrapper .item:hover .circle {
  background-color: #5C0605;
  border: 1px solid #E8E2D4;
}
.archive-page .archive-wrapper .item .corner::before,
.archive-page .archive-wrapper .item .corner::after {
  background-color: #5C0605;
  transition: all .3s;
}
.archive-page .archive-wrapper .item:hover .corner::before,
.archive-page .archive-wrapper .item:hover .corner::after {
  background-color: #E8E2D4;
}

/* Архив год */
.archive-year-page .page-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}
.archive-year-page .month {
  font-weight: bold;
  font-size: 18px;
  margin: 25px 0 5px 0;
}
.archive-year-page .content {
  display: none;
  min-height: 250px;
}
.archive-year-page .content.content-active {
  display: block;
}
.archive-year-page .posts-per-month {
  margin: 0 0 10px 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.archive-year-page .post-thumb {
  width: 40px;
  margin-right: 30px;
  flex-shrink: 0;
}
.archive-year-page .post-thumb .number {
  font-size: 30px;
}
.archive-year-page .posts-per-month a {
  color: #000;
  margin: 5px 0;
}

/* single-page */
.single-page .page-title {
  width: 85%;
  margin: 0 auto;
}
.single-page .info {
  margin: 0 0 50px 0;
  text-align: center;
}
.single-page .single-date {
  margin: 0 0 25px 0;
  font-size: 14px;
}
.single-page .gallery {
  margin: 0 0 10px 0;
}
.single-page .gallery-item {
  display: inline-block;
  width: 165px;
  height: 145px;
  margin: 0 15px 15px 0;
}
.single-page .gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.single-page .single-image {
  max-width: 400px;
  margin: 0 0 25px 0;
  border-radius: 10px;
  overflow: hidden;
}
.single-page .single-image img {
  width: 100%;
}
.single-page .text {
  margin: 0 0 45px 0;
}
.single-page .links {
  display: flex;
  text-transform: uppercase;
  justify-content: space-between;
}
.single-page .links .item {
  color: #5C0605;
}
.pswp__img {
  object-fit: contain;
}

/* Страница Конкурсов */
.konkursy-wrapper .item {
  display: flex;
  margin: 0 0 25px 0;
}
.konkursy-wrapper .item .image {
  width: 255px;
  margin: 0 25px 25px 0;
  flex-shrink: 0;
}
.konkursy-wrapper .item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.konkursy-wrapper .item .title-wrapper {
  margin: 0 0 20px 0;
}
.konkursy-wrapper .item .title {
  margin: 10px 0 0 0;
  font-family: 'pt-sans-bold';
}
.konkursy-wrapper .item .place-text {
  font-family: 'pt-sans-bold';
}
.konkursy-wrapper .item .place-wrapper {
  margin: 0 0 20px 0;
}
.konkursy-wrapper .item .more a {
  font-family: 'pt-sans-bold';
  color: #5C0605;
}

/* Страница с конкурсом */
.single-konkurs-page .konkursy-wrapper {
  margin: 0 0 50px 0;
}
.single-konkurs-page .pdf {
  margin: 16px 0;
  display: flex;
  align-items: center;
}
.single-konkurs-page .pdf .icon {
  width: 24px;
  height: 25px;
  margin-right: 5px;
}
.single-konkurs-page .pdf .name {
  color: #000;
}
.single-konkurs-page .documents {
  margin: 0 0 50px 0;
}

/* Страница Газета Pizzicato */
.gazeta-pizzicato-page .newspapers {
  display: flex;
  flex-wrap: wrap;
}
.gazeta-pizzicato-page .newspapers .item {
  width: 144px;
  height: 200px;
  margin: 10px;
}
.gazeta-pizzicato-page .newspapers .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Страница все издания */
.izdaniya-page .item .image {
  position: relative;
  width: 160px;
  height: 225px;
  flex-shrink: 0;
}
.izdaniya-page .item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.izdaniya-page .item .text-wrapper {
  margin: 0 0 5px 0;
}
.izdaniya-page .item .text-wrapper .text {
  font-family: 'pt-sans-bold';
  line-height: 1.3;
}
.izdaniya-page .item .btn {
  position: absolute;
  left: 0;
  bottom: 10px;
  right: 0;
  display: block;
  width: 85px;
  margin: 0 auto;
  padding: 5px 0;
  background-color: #F9B022;
  font-family: 'pt-sans-bold';
  font-size: 12px;
  color: #fff;  
  text-align: center;
  box-shadow: 0px 2.8px 2.8px rgba(0, 0, 0, 0.25);
}

/* Страница издание */
.single-izdaniye-page .image {
  width: 100%;
  height: 225px;
  margin: 0 0 25px 0;
}
.single-izdaniye-page .order-text {
  font-family: 'pt-sans-bold';
  color: #5C0605;
}
.single-izdaniye-page .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.single-izdaniye-page .text-wrapper {
  margin: 0 0 25px 0;
}
.single-izdaniye-page .text-bold {
  font-family: 'pt-sans-bold';
}

/* Страница Видео */
.video-page .videos-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.video-page .item {
  width: 225px;
  height: 220px;
  margin: 0 25px 25px 0;
}
.video-page .image {
  height: 142px;
  margin: 0 0 5px 0;
}
.video-page .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video-page .title {
  height: 48px;  
}

/* Страница История */
.istoriya-page .item {
  margin-bottom: 1rem;
}
.istoriya-page .float-left img {
  max-width: 100%;
  margin: 0 20px 5px 0;
  float: left;
}
.istoriya-page .float-right img {
  max-width: 100%;
  margin: 0 0 10px 20px;
  float: right;
}

/* Страница Педагогический состав */
.o-kolledzhe-pedagogicheskij-sostav-page .page-subtitle {
  margin: 0 0 50px 0;
  font-size: 32px;
  color: #5C0605;
  text-align: center;
}
.o-kolledzhe-pedagogicheskij-sostav-page .teachers-wrapper,
.o-kolledzhe-pedagogicheskij-sostav-page .otdeleniya-wrapper,
.o-kolledzhe-pedagogicheskij-sostav-page .documents-wrapper {
  margin: 0 0 50px 0;
}
.teachers-wrapper .item {
  display: flex;
  margin: 0 0 25px 0;
  padding: 16px 10px;
  background-color: #fff;
  align-items: center;
}
.teachers-wrapper .item .content {
  line-height: 1.2;
}
.teachers-wrapper .item .photo {
  width: 146px;
  height: 146px;
  margin: 0 15px 5px 0;
  border-radius: 73px;
  overflow: hidden;
  flex-shrink: 0;
}
.teachers-wrapper .item .photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.teachers-wrapper .item .name {
  margin: 0 0 5px 0;
  font-family: 'pt-sans-bold';
  color: #000;
}
.teachers-wrapper .item .name a {
  color: #000;
}
.teachers-wrapper .item .post {
  margin: 0 0 5px 0;
  font-size: 15px;
}
.teachers-wrapper .item .phone-text,
.teachers-wrapper .item .email-text {
  font-family: 'pt-sans-bold';
  font-size: 15px;
}
.teachers-wrapper .item .phone,
.teachers-wrapper .item .email {
  margin: 0 0 5px 0;
  font-size: 15px;
}
.o-kolledzhe-pedagogicheskij-sostav-page .otdeleniya-wrapper .otdeleniya-wrapper {
  margin: 0 0 80px 0;
}
.o-kolledzhe-pedagogicheskij-sostav-page .otdeleniya-wrapper .item {
  margin: 0 0 25px 0;
  text-align: center;
}
.o-kolledzhe-pedagogicheskij-sostav-page .otdeleniya-wrapper .item a {
  font-family: 'pt-sans-bold';
  font-size: 20px;
  color: #000;
}

/* Карточка преподавателя */
.single-teacher-page .page-title {
  padding: 50px 0 9px 0;
}
.single-teacher-page .post {
  margin: 0 0 33px 0;
  text-align: center;
  font-style: italic;
}
.single-teacher-page .photo {
  margin: 0 0 15px 0;
  border-radius: 10px;
  overflow: hidden;
}
.single-teacher-page .photo img {
  width: 100%;
}
.single-teacher-page .text {
  font-size: 18px;
}

/* Страница Контакты */
.o-kolledzhe-kontakty-page .contacts {
  margin: 0 0 50px 0;
}
.o-kolledzhe-kontakty-page .contacts .item {
  display: flex;
  margin: 0 0 5px 0;
  align-items: center;
}
.o-kolledzhe-kontakty-page .contacts .item .icon {
  width: 40px;
  height: 40px;
  margin: 0 30px 0 0;
}
.o-kolledzhe-kontakty-page .contacts .mb45 {
  margin: 0 0 45px 0;
}
.o-kolledzhe-kontakty-page .aside {
  margin: 0 0 50px 0;
}
.o-kolledzhe-kontakty-page .aside .director,
.o-kolledzhe-kontakty-page .aside .social {
  position: relative;
  padding: 0 0 0 24px;
  text-align: center;
}
.o-kolledzhe-kontakty-page .aside .text {
  margin: 0 0 15px 0;
}
.o-kolledzhe-kontakty-page .aside .photo {
  width: 160px;
  height: 160px;
  margin: 0 auto 15px auto;
  border-radius: 80px;
  overflow: hidden;
}
.o-kolledzhe-kontakty-page .phone {
  display: flex;
  margin: 0 0 12px 0;
  justify-content: center;
}
.o-kolledzhe-kontakty-page .phone .icon {
  width: 40px;
  height: 40px;
  margin: 0 20px 0 0;
}
.o-kolledzhe-kontakty-page .aside .vertikal-line {
  position: absolute;
  top: 5px;
  left: 0;
  width: 1px;
  background-color: #5C0605;
}
.o-kolledzhe-kontakty-page .director .vertikal-line {
  height: 300px;
}
.o-kolledzhe-kontakty-page .social .vertikal-line {
  height: 190px;
}
.o-kolledzhe-kontakty-page .aside .horizontal-line {
  width: 95%;
  height: 1px;
  margin: 0 0 20px 0;
  background-color: #5C0605;
}
.o-kolledzhe-kontakty-page .aside .social-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.o-kolledzhe-kontakty-page .aside .social-icon .img {
  margin: 0 28px 13px 0;
  width: 50px;
  height: 50px;
  border-radius: 12px;
  overflow: hidden;
}
.o-kolledzhe-kontakty-page .aside .social-icon .img a {
  display: block;
}
.o-kolledzhe-kontakty-page .aside .social-icon .img img {
  display: block;
  width: 100%;
}
.o-kolledzhe-kontakty-page .aside .qr-code img {
  width: 100%;
}

/* Страница Направления подготовки */
.napravleniya-podgotovki-page .napravleniya-podgotovki-wrapper {
  margin: 0 0 40px 0;
}
.napravleniya-podgotovki-page .item {
  position: relative;
  padding: 0 0 40px 0;
  text-align: center;
}
.napravleniya-podgotovki-page .item .title {
  display: block;
  min-height: 48px;
  font-family: 'pt-sans-bold';
  color: #000;
  text-transform: uppercase;
}
.napravleniya-podgotovki-page .item .image img {
  width: 160px;
  height: 153px;
}
.napravleniya-podgotovki-page .vertikal-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background-color: #5C0605;
}
.napravleniya-podgotovki-page .podat-dokumenty-btn {
  display: block;
  width: 173px;
  height: 43px;
  margin: 0 auto;
  padding: 8px 0;
  background-color: #5C0605;
  font-family: 'pt-sans-bold';
  color: #fff;
  text-align: center;
}

/* Страница Карточка Направления подготовки */
.single-abiturientu-napravleniya-podgotovki .text-wrapper {
  margin: 0 0 15px 0;
}

/* Страница Подготовительные курсы */
.podgotovitelnye-kursy-page .description {
  margin: 0 0 50px 0;
}
.podgotovitelnye-kursy-page .description .image {
  margin: 0 0 25px 0;
}
.podgotovitelnye-kursy-page .description .image img {
  width: 100%;
}
.podgotovitelnye-kursy-page .list-title {
  margin: 0 0 35px 0;
  font-family: 'pt-sans-bold';
}
.podgotovitelnye-kursy-page li {
  margin: 0 0 10px 0;
}

/* Страница Подать документы */
.form-page .required-text {
  margin: 0 0 50px 0;
  font-size: 24px;
  color: #5C0605;
  text-align: center;
}
.form-page .message-text {
  margin: 0 0 50px 0;
  font-size: 24px;
  color: #000;
  text-align: center;
}
.form-page .form {
  margin: 0 0 20px 0;
}
.form-page .form-group {
  margin: 0 0 25px 0;
}
.form-page .middle-form-group {
  margin: 0 0 10px 0 !important;
}
.form-page .last-form-group {
  margin: 0 0 50px 0 !important;
}
.form-page .input-label,
.form-page .label-text {
  display: block;
  margin: 0 0 5px 10px;
  font-family: 'pt-sans-bold';
}
.form-page .input-field {
  display: block;
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #5C0605;
  font-family: inherit;
}
.form-page .inputfile {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.form-page .custom-inputfile-label {
  margin: 0 10px 0 0;
  padding: 5px 65px;
  background-color: #fff;
  border: 1px solid #5C0605;
  font-family: 'pt-sans-bold';
  color: #000;
  cursor: pointer;
}
.form-page .textarea {
  height: 90px;
  resize: none;
}
.form-page .textarea:focus-visible {
  outline: none;
}
.form-page .mb50 {
  margin: 0 0 50px 0;
}
.form-page .submit-btn {
  display: block;
  width: 200px;
  margin: 0 auto;
  padding: 10px 0;
  background-color: #5C0605;
  text-align: center;
  border: none;
  font-family: 'pt-sans-bold';
  color: #fff;
}
.form-page .custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.form-page .custom-checkbox+label:before {
  content: '';
  display: block;
  float: left;
  width: 22px;
  height: 22px;
  border: 1px solid #5C0605;
  margin: 3px 10px 3px 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60%;
  background-color: #fff;
}
.form-page .custom-checkbox-label {
  margin: 0 0 5px 0;
}
.form-page .custom-checkbox-label .span-text a {
  color: #000;
  text-decoration: underline;
}
.form-page .custom-checkbox:checked+label::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23000' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* Страница Студентам расписание */
.studentam-raspisanie-page .page-subtitle {
  margin: 0 0 25px 0;
  font-family: 'pt-sans-bold';
  font-size: 20px;
  text-align: center;
}
.studentam-raspisanie-page .course-frame {
  display: flex;
  margin: 0 0 50px 0;
  padding: 33px 79px 24px 79px;
  border: 2px solid #5C0605;
  border-radius: 30px;
  justify-content: space-between;
}
.studentam-raspisanie-page .course-frame .item {
  position: relative;
  width: 125px;
}
.item .course-number {
  font-family: 'pt-sans-bold';
  font-size: 40px;
  color: #5C0605;
}
.item .course-text {
  font-family: 'pt-sans-bold';
  font-size: 20px;
  color: #000;
  text-transform: uppercase;
}
.studentam-raspisanie-page .item .arrow {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
}
.studentam-raspisanie-page .item .circle {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #DA5453;
  background-color: #E8E2D4;
  transition: background-color .3s;
}
.studentam-raspisanie-page .item .corner {
  position: absolute;
  top: 9px;
  left: 12px;
  width: 2px;
  height: 10px;
  background-color: #DA5453;
  transition: background-color .3s;
}
.studentam-raspisanie-page .item .corner::before,
.studentam-raspisanie-page .item .corner::after {
  content: '';
  position: absolute;
  top: 5px;
  width: 8px;
  height: 2px;
  background-color: #DA5453;
  transition: background-color .3s;
}
.studentam-raspisanie-page .item .corner::before {
  left: -6px;
  transform: rotate(45deg);
}
.studentam-raspisanie-page .item .corner::after {
  left: 0px;
  transform: rotate(-45deg);
}
.studentam-raspisanie-page .item:hover .circle {
  background-color: #DA5453;
}
.studentam-raspisanie-page .item:hover .corner {
  background-color: #fff;
}
.studentam-raspisanie-page .item:hover .corner::before,
.studentam-raspisanie-page .item:hover .corner::after {
  background-color: #fff;
}

.studentam-raspisanie-page .attestation-form-links {
  display: flex;
  margin: 0 0 50px 0;
  padding: 0 80px;
  justify-content: space-between;
  .name {
    font-family: 'pt-sans-bold';
    font-size: 18px;
    color: #000;
  }
}
.studentam-raspisanie-page .documents-wrapper .item {
  margin: 0 0 25px 0;
}
.studentam-raspisanie-page .documents-wrapper .item .title {
  font-family: 'pt-sans-bold';
  font-size: 20px;
}

// Студентам форма аттестации
.studentam-attestation-form-page {
  .course {
    margin: 0 0 20px 0;
    font-family: 'pt-sans-bold';
    font-size: 20px;
  }
  .attestation-forms-item {
    margin: 0 0 20px 0;
  }
  .attestation-forms-item__link {
    color: #000;
  }
}


/* Страница Преподавателям макеты и Абитуриенту документы */
.documents {
  margin: 0 0 32px 0;
}
.documents .list-item {
  margin: 16px 0;
  display: flex;
  align-items: center;
}
.documents .list-item .icon {
  width: 24px;
  height: 25px;
  margin-right: 15px;
}
.documents .name {
  margin: 0 15px 0 0;
  color: #000;
}
.documents .sig-file,
.documents .key-file {
  margin: 0 15px 0 0;
}
.documents .sig-file-name,
.documents .key-file-name {
  margin: 0 5px 0 0;
  font-size: 13px;
  color: #A88D8D;
}
.documents .sig-file-image
.documents .key-file-image {
  width: 16px;
}


/* Страница Преподавателям Списки студентов */
.spiski-studentov-page .select-course {
  display: flex;
  margin: 0 0 25px 0;
  justify-content: center;
}
.spiski-studentov-page .item {
  width: 159px;
  height: 58px;
  padding: 5px 0;
  border: 2px solid transparent;
  background-color: #E8E2D4;
  font-family: 'pt-sans-bold';
  font-size: 20px;
  color: #000;
  text-align: center;
  cursor: pointer;
  transition: all .3s;
}
.spiski-studentov-page .item.course-active {
  border: 2px solid #5C0605;
  background-color: #5C0605;
  color: #fff;
}
.spiski-studentov-page .item .number {
  font-family: 'pt-sans-bold';
  font-size: 40px;
  color: #5C0605;
  line-height: 1;
  transition: all .3s;
}
.spiski-studentov-page .item.course-active .number {
  color: #fff; 
}
.spiski-studentov-page .item:hover {
  border: 2px solid #000;
}
.spiski-studentov-page .item.course-active:hover {
  border: 2px solid #5C0605;
}
.spiski-studentov-page .text {
  display: none;
}
.spiski-studentov-page .text.text-active {
  display: block;
}

/* Страница Сведения список */
.svedeniya-list .item {
  margin: 0 0 16px 0;
}
.svedeniya-list .item .item__link {
  font-family: 'pt-sans-bold';
  font-size: 20px;
  color: #000;
}

/* Страница Раздел для ивалидов и лиц с ОВЗ */
.razdel-dlya-invalidov-i-lic-s-ovz-page .sublitle {
  margin: 0 0 16px 0;
}
.razdel-dlya-invalidov-i-lic-s-ovz-page .svedeniya-links .item__link {
  color: #000;
  text-decoration: underline;
}
.razdel-dlya-invalidov-i-lic-s-ovz-page .svedeniya-links .item {
  margin: 0 0 16px 0;
}

/* Страница Структура и органы управления образовательной организацией */
.struktura-i-organy-upravleniya-obrazovatelnoj-organizaciej-page .chart {
  margin: 0 0 32px 0;
}
.struktura-i-organy-upravleniya-obrazovatelnoj-organizaciej-page .chart img {
  max-width: 100%;
}
.svedeniya-page .subtitle {
  margin: 0 0 16px 0;
  font-size: 25px;
}
.svedeniya-page table {
  margin: 0 0 16px 0;
  border: 1px solid #000;
}
.svedeniya-page table td {
  padding: 0 5px;
  border: 1px solid #000;
}
.svedeniya-page table a {
  color: #000;
  text-decoration: underline;
}
.struktura-i-organy-upravleniya-obrazovatelnoj-organizaciej-page .item {
  display: flex;
  margin: 0 0 32px 0;
}
.struktura-i-organy-upravleniya-obrazovatelnoj-organizaciej-page .item__image {
  width: 150px;
  height: 200px;
  margin: 0 16px 0 0;
  flex-shrink: 0;
}
.struktura-i-organy-upravleniya-obrazovatelnoj-organizaciej-page .item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Страница Материально-техническое обеспечение */
.materialno-tekhnicheskoe-obespechenie-page .description {
  margin: 0 0 32px 0;
}
.materialno-tekhnicheskoe-obespechenie-page .item {
  display: flex;
  margin: 0 0 16px 0;
}
.materialno-tekhnicheskoe-obespechenie-page .item .image {
  width: 300px;
  margin: 0 16px 0 0;
}

// Полоса если админ
.top-line-is-login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  background-color: #343a40;
  z-index: 1040;
  .text-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .top-line__text a {
    color: #c2c7d0;
    transition: color .3s;
  }
  .top-line__text a:hover {
    color: #fff;
  }
  .logout-btn {
    border: none;
    padding: 0;
    background-color: #343a40;
    color: #fff;
  }
}

/* mobile menu */
.burger-menu-wrapper {
  position: fixed;
  top: 35px;
  left: 0;
  right: 0;
  display: none;
  width: max-content;
  margin: 0 auto;
  z-index: 30;
  cursor: pointer;
}
.burger-menu-wrapper .burger-menu__text {
  font-family: 'pt-serif-italic';
  font-size: 24px;
  color: #5C0605;
  text-shadow: 0 -2px 0 #E8E2D4,0 -2px 0 #E8E2D4,0 2px 0 #E8E2D4,0 2px 0 #E8E2D4,-2px 0 0 #E8E2D4,2px 0 0 #E8E2D4,-2px 0 0 #E8E2D4,2px 0 0 #E8E2D4,-2px -2px 0 #E8E2D4,2px -2px 0 #E8E2D4,-2px 2px 0 #E8E2D4,2px 2px 0 #E8E2D4,-2px -2px 0 #E8E2D4,2px -2px 0 #E8E2D4,-2px 2px 0 #E8E2D4,2px 2px 0 #E8E2D4;
}
.burger-menu-wrapper .burger-menu__text.active {
  color: #fff;
  text-shadow: none;
}

/* mobile-menu */
.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 95px 15px 30px 15px;
  background-color: #5C0605;
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
}
.mobile-menu .menu {
  margin: 0;
  padding: 0 0 15px 0;
  text-align: center;
  list-style: none;
}
.mobile-menu .menu-item {
  padding: 10px 0;
  color: #fff;
}
.mobile-menu .menu-item .menu-item__text {
  font-family: 'pt-sans-bold';
  cursor: pointer;
}
.mobile-menu .menu-item a {
  color: #fff;
}
.mobile-menu .menu-item a:hover {
  color: #fff;
}
.mobile-menu .menu-item .sub-menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height .3s;
}
.mobile-menu .menu-item-has-children.active .sub-menu {
  max-height: 250px;
}
.mobile-menu .menu-item .sub-menu .sub-menu-item {
  padding: 5px 0;
}
.mobile-menu .phone a {
  font-family: 'pt-sans-bold';
  color: #fff;
}
.mobile-menu .mobile-links {
  text-align: center;
}
.mobile-menu .mobile-links .item {
  margin: 0 0 15px 0;
}
.mobile-menu .mobile-links .item .item-link {
  font-family: 'pt-serif-italic';
  font-size: 20px;
  color: #B5AC9A;
}
.down {
  opacity: 1;
  visibility: visible;
}

/* modal */
.modal-window {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  top: 0;
  left: 0;
  z-index: 100;
}
.modal-window.active {
  display: block;
}
.modal-window .modal-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 5%;
  padding: 0 12px;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}
.modal-window .modal-wrapper.active {
  opacity: 1;
  visibility: visible;
}
.modal-window .modal-area {
  position: relative;
  max-width: 440px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 15px;
  background-color: #fff;
}
.modal-window .modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.modal-window .close {
  position: relative;
  width: 21px;
  height: 21px;
  border-radius: 3px;
}
.modal-window .close:before,
.modal-window .close:after { 
  content: "";
  position: absolute;
  top: 0;
  left: 9px;
  width: 3px;
  height: 20px;
  border-radius: 2px;
  background-color: #000;
  transition: background-color .3s;
}
.modal-window .close:before {
  transform: rotate(45deg);
}
.modal-window .close:after {
  transform: rotate(-45deg);
}
.modal-window .privacy-policy-btn {
  color: #000;
  text-decoration: underline;
}
.modal-window .modal-title {
  font-family: 'opensans-medium';
  font-size: 20px;
  color: #000;
}
.modal-window .form {
  margin-top: 30px;
}
.modal-window .label {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  font-size: 14px;
}
.modal-window .label span {
  font-size: 16px;
  color: #a6a6a6;
}
.modal-window .input-field {
  display: block;
  width: 100%;
  height: 25px;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid #a6a6a6;
}
.modal-window .input-field.required {
  border: 1px solid red;
}
.modal-window .required-text {
  font-size: 14px;
}
.modal-window .checkbox-text {
  font-size: 13px;
}
.modal-window .submit-btn {
  display: block;
  width: 80%;
  margin: 30px auto 0 auto;
}
.modal-window .submit-btn:disabled {
  background-color: lightgrey;
}
.modal-window .custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.modal-window .custom-checkbox + .custom-checkbox-label::before {
  content: '';
  display: block;
  float: left;
  width: 13px;
  height: 13px;
  border: 1px solid grey;
  margin: 3px 10px 10px 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 80%;
  background-color: #fff;
}
.modal-window .custom-checkbox:checked + .custom-checkbox-label::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23000' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.modal-window .custom-checkbox-label {
  margin-top: 15px;
}
.modal-window .custom-checkbox-label {
  display: block;
  margin-top: 20px;
}


@media only screen and (max-width : 1200px) {
  .page .page-title {
    font-size: 30px;
  }
  .header .top {
    height: 280px;
  }
  .header .top .title {
    font-size: 42px;
  }
  .header .top-nav-menu .menu-item__text {
    font-size: 18px;
  }
  .header .top-nav-menu .menu-item .sub-menu {
    top: 44px;
  }
  .home-page .required-links a {
    font-size: 20px;
  }
  .home-page .main-section .main-slider .image-slider__slide {
    height: 500px;
  }
  .home-page .main-section .main-slider .image-slider__excerpt {
    display: none;
  }
  .home-page .main-section .aside .item .text {
    font-size: 14px;
  }
  .home-page .main-section .aside .item .address {
    font-size: 16px;
  }
  .home-page .main-section .aside .item .director-name {
    font-size: 15px;
  }
  .o-kolledzhe-kontakty-page .phone .icon {
    margin: 0 5px 0 0;
  }
  .o-kolledzhe-kontakty-page .aside .social-icon .img img {
    width: 30px;
    height: 30px;
  }
}

@media only screen and (max-width : 992px) {
  .page .page-title {
    font-size: 26px;
  }
  .header .top {
    height: 260px;
  }
  .header .top .title {
    font-size: 34px;
    line-height: 1.2;
  }
  .header .top-nav-menu .menu-item__text {
    font-size: 14px;
  }
  .header .top-nav-menu .menu-item {
    padding: 8px 10px;
  }
  .header .top-nav-menu .menu-item .sub-menu {
    top: 37px;
  }
  .home-page .required-links a {
    font-size: 16px;
  }
  .home-page .kalendar-studenta-section {
    padding: 50px 0;
  }
  .home-page .partners-section {
    padding: 40px 0 40px 0;
  }
  .home-page .partners-section .section-title {
    margin: 0 0 35px 0;
  }
  .history-back {
    top: auto !important;
    bottom: 5px;
  }
  .single-page .links {
    display: block;
  }
  .single-page .links .item {
    display: block;
    margin: 0 0 15px 0;
  }
  .istoriya-page .float-left img {
    margin: 0 0 15px 0;
    float: none;
  }
  .istoriya-page .float-right img {
    margin: 0 0 15px 0;
    float: none;
  }
  .o-kolledzhe-kontakty-page .contacts .item .icon {
    margin: 0 10px 0 0;
  }
  .studentam-raspisanie-page .course-frame {
    padding: 25px 49px 25px 49px;
  }
  .studentam-raspisanie-page .attestation-form-links {
    padding: 0;
  }
  .studentam-raspisanie-page .course-frame {
    padding: 0;
    border: 0;
  }
  .napravleniya-podgotovki-page .item .title {
    font-size: 15px;
  }
  .konkursy-wrapper .item .image {
    width: 220px;
  }
}

@media only screen and (max-width : 768px) {
  .hidden-mobile {
    display: none !important;
  }
  .hidden-desktop {
    display: block;
  }
  .page .page-title {
    font-size: 22px;
  }
  .header .top {
    height: auto;
  }
  .header .top .logo-wrapper {
    display: block;
    padding: 105px 0 0 0;
  }
  .header .top .logo {
    width: 108px;
    margin: 0 auto 10px auto;
  }
  .header .top .title {
    padding: 0 0 25px 0;
    font-size: 24px;
    text-align: center;
  }
  .header .top .subtitle {
    padding: 0 0 25px 0;
    text-align: center;
  }
  .home-page .main-section {
    padding: 0 0 90px 0;
  }
  .home-page .main-section .main-slider-wrapper {
    margin: 0 0 25px 0;
  }
  .home-page .main-section .main-slider .image-slider__slide {
    height: 300px;
  }
  .home-page .main-section .main-slider .image-slider__bg {
    display: flex;
    height: 115px;
    padding: 20px;
    align-items: center;
  }
  .home-page .main-section .main-slider .image-slider__title {
    font-size: 18px;
  }
  .home-page .afisha-section {
    padding: 50px 0 85px 0;
  }
  .home-page .ai-section .section-title {
    left: 0;
    right: 0;
    width: 295px;
    margin: 0 auto;
    font-size: 34px;
  }
  .home-page .afisha-section .afisha-archive-btn {
    top: -45px;
    left: 0;
    right: 0;
    width: 61px;
    margin: 0 auto;
  }
  .home-page .kalendar-studenta-section .section-title {
    right: 0;
    width: 378px;
    margin: 0 auto;
    font-size: 34px;
  }
  .home-page .kalendar-studenta-section .afisha-archive-btn {
    top: -45px;
    left: 0;
    right: 0;
    width: 61px;
    margin: 0 auto;
  }
  .home-page .partners-section {
    padding: 15px 0 15px 0;
  }
  .home-page .partners-section .section-title {
    margin: 0 0 15px 0;
    font-size: 34px;
    text-align: center;
  }
  .home-page .partners-section .partners .partners-logo {
    justify-content: center;
  }
  .footer {
    padding: 50px 0 20px 0;
  }
  .footer .top .item {
    width: 190px;
    margin: 0 auto 15px auto;
    text-align: center;
  }
  .footer .top .info {
    margin: 0 0 50px 0;
  }
  .footer .top .info .item {
    justify-content: center;
  }
  .studentam-raspisanie-page .attestation-form-links {
    display: block;
  }
  .studentam-raspisanie-page .course-frame {
    display: block;
  }
  .konkursy-wrapper .item .image {
    width: 180px;
  }
  .konkursy-wrapper .item .image img {
    object-fit: contain;
  }
  .o-kolledzhe-kontakty-page .aside .social-wrapper {
    display: block;
  }
  .o-kolledzhe-kontakty-page .aside .social-icon {
    display: flex;
    justify-content: center;
  }
  .o-kolledzhe-kontakty-page .aside .social-icon .img {
    margin: 0 15px;
  }
  .izdaniya-page .konkursy-wrapper .item .image {
    width: max-content;
  }
  .single-teacher-page .page-title {
    padding: 50px 0 25px 0;
  }
  .podat-dokumenty-page .form-group {
    margin: 0;
  }
  .podat-dokumenty-page .input-field {
    margin: 0 0 10px 0;
  }
}

@media only screen and (max-width : 480px) {
  .home-page .main-section .main-slider .image-slider__title {
    font-size: 16px;
  }
  .home-page .kalendar-studenta-section .section-title {
    width: 295px;
    padding: 13px;
    font-size: 26px;
  }
  .spiski-studentov-page .select-course {
    display: block;
  }
  .spiski-studentov-page .item {
    margin: 0 0 10px 0;
  }
  .podat-dokumenty-page .pdf-file-text {
    display: block;
  }
  .konkursy-wrapper .item {
    display: block;
  }
  .konkursy-wrapper .item .image {
    width: 255px;
  }
  .video-page .videos-wrapper {
    justify-content: center;
  }
  .video-page .item {
    margin: 0 0 25px 0;
  }
  .teachers-wrapper .item {
    display: block;
  }
  .teachers-wrapper .item .photo {
    margin: 0 auto 15px auto;
  }
  .teachers-wrapper .item .content {
    text-align: center;
  }
  .struktura-i-organy-upravleniya-obrazovatelnoj-organizaciej-page .item {
    display: block;
  }
  .struktura-i-organy-upravleniya-obrazovatelnoj-organizaciej-page .item__image {
    margin: 0 16px 16px 0;
  }
}